.Header{
    display:flex;
    justify-content: space-between;
    border:solid black 2px;
}

.logo{
    width: 150px;
}
.nav-items >ul>li{
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    list-style-type: none;
}
.nav-items > ul{
    display: flex;
}
.body{
    border:solid black 2px;
}
.search{
    padding: 10px;
    max-width: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-cards{
    padding: 10px;
    width: 200px;   
    border: solid black 2px;
    margin :10px;
    background-color:bisque;
    

    
}

.res-cards:hover{
    cursor: pointer;
    border: solid black 4px;
    background-color:whitesmoke;
    margin: 20px;
    padding:5px;
}
.res-logo{
    width: 100%;
    object-fit: cover;
}
.res-cards > h3{
    text-align: center;
}
